<html>
    <head>
        <title>{{ title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/followers.css') }}">
    </head>
    <body>
        <div class="followers">
            {% for follower in followers: %}
            <div class="follower">
                <img src={{follower['profile_image_url']}} />
                <a href={{"https://twitter.com/"+follower['username']}}><p>{{follower['name']}}</p></a>
                <p>{{follower['public_metrics']['followers_count']}} Followers</p>
                <p>{{follower['public_metrics']['following_count']}} Following</p>
                <p>{{follower['public_metrics']['tweet_count']}} Tweets</p>
            </div>
            {% endfor %}
	    </div>
    </body>
</html>